<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>jp.co.zizii.controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Zizii</servlet-name>
		<servlet-class>jp.co.zizii.controller.ZiziiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Zizii</servlet-name>
		<url-pattern>/zizii</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>top</servlet-name>
		<jsp-file>/WEB-INF/jsp/top.jsp</jsp-file>
		
	</servlet>
	<servlet-mapping>
		<servlet-name>top</servlet-name>
		<url-pattern>/top</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>create_zizii</servlet-name>
		<servlet-class>jp.co.zizii.controller.CreateZiziiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>create_zizii</servlet-name>
		<url-pattern>/create_zizii</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>select_dungeon</servlet-name>
		<jsp-file>/WEB-INF/jsp/select_dungeon.jsp</jsp-file>
		
	</servlet>
	<servlet-mapping>
		<servlet-name>select_dungeon</servlet-name>
		<url-pattern>/select_dungeon</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>dungeon</servlet-name>
		<servlet-class>jp.co.zizii.controller.DungeonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dungeon</servlet-name>
		<url-pattern>/dungeon</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>ZiziiServlet.java</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>